<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
  <template>
    <style>
      :host {
        display: block;
      }
      .texto{
        color: grey;
      }
      .centrar{
        text-align: center;
      }
      .izq{
        text-align: left;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    
    <h1><p class="centrar"> Confirmacion!</p></h1>
      <center><form>
        <label class="izq">Label</label>
        <p class="texto">Lorem impsum text info data</p>
        <br>
        <label class="izq">Label</label>
        <p class="texto">Lorem impsum text info data</p>
        <br>
        <label class="izq">Label</label>
        <p class="texto">Lorem impsum text info data</p>
        <br>
        <button>boton</button>

      </form></center>
  </template>

  <script>
    /**
     * `information-card`
     * informacion de tarjetas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() { return 'information-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-card'
          }
        };
      }
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>
</dom-module>
