<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-header">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `mi-header`
     * mi header super
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiHeader extends Polymer.Element {
      static get is() { return 'mi-header'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-header'
          }
        };
      }
    }

    window.customElements.define(MiHeader.is, MiHeader);
  </script>
</dom-module>
